body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #666666;
}

tr:hover {
    background-color: #11a4da;
}

button {
    background-color: rgb(1, 80, 132);
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #11a4da;
}